@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #c5e4e7;
}

#markdown {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
h1 {
  /* border: 1px solid black; */
  font-size: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 14px;
}

h2 {
  font-size: 16px;
  border-bottom: 2px solid black;
  margin-bottom: 14px;
}

h3 {
  font-size: 13px;
  margin-bottom: 14px;
}

.box1 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 2rem auto;
  max-width: 330px;
  height: 201px;
}

.box2 {
  margin: 1rem auto;
  max-width: 350px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  border-radius: 3px;
}

#editor {
  background-color: #02464b;
  width: 329px;
  padding: 15px;
  margin-bottom: 5px;
  outline: none;
  color: #24bca5;
}

#preview {
  background-color: #02464b;
  padding: 35px;
  color: #24bca5;
  /* height: 400px; */
}

.bar {
  background-color: #24bca5;
  width: 99.8%;
  padding-left: 15px;
  border: 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bar2 {
  padding-left: 15px;
  background-color: #24bca5;
}

img {
  padding: 2.4rem;
  width: 290px;
}

@media (min-width: 1050px) {
  .App {
    border: none;
    border-radius: 5px;
    display: flex;
    max-width: 1050px;
    margin: 10rem auto;
    background-color: whitesmoke;
  }
  #markdown {
    font-size: 32px;
    color: #739698;
    display: flex;
    justify-content: center;
    position: relative;
    top: 130px;
  }
}
